
/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-1: #D79922;
  --clr-primary-2: #EFE2BA;
  --clr-primary-3: #F13C20;
  --clr-primary-4: #4056A1;
  --clr-primary-5: #c5cbe3;
  --clr-background: #EAE7DC;
  --clr-white: #fff;
  --clr-black: #222;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(210, 22%, 49%);
  --clr-grey-3: hsl(209, 34%, 30%);

  /* primary/main fonts */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --body-fonts: "Helvetica", "Arial", sans-serif;

  --line-height: 1.5;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --border-radius: 25px;
  --margine: 1rem;
  --padding: 1rem;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-background);
  color: var(--clr-grey-1);
  font-family: var(--ff-primary);
  line-height: 1.5;
  font-size: 0.875rem;
  height: 100%; 
  width: 100%;
  max-width: 1600px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  justify-content: center;
  margin: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  color: var(--clr-primary-4);
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}
h2 {
  font-size: 1.25rem;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}
h3 {
  font-size: 1rem;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}
h4 {
  font-size: 0.75rem;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}
p {
  font-size: 0.75rem;
  font-family: var(--ff-secondary);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
    font-family: var(--ff-primary);
  }
  h2 {
    font-size: 1.25rem;
    font-family: var(--ff-primary);
  }
  h3 {
    font-size: 1rem;
    font-family: var(--ff-primary);
  }
  h4 {
    font-size: 0.85rem;
    font-family: var(--ff-primary);
  }
  p {
    font-size: 0.85rem;
    font-family: var(--ff-secondary);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: var(--clr-black);
  border-radius: var(--border-radius);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

body:hover > #trailer {
  opacity: 1;
}


/*
=============== 
Navbar
===============
*/

.section-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-navigation_logo {
    margin: var(--margine);
}

.section-navigation img {
    height: 2rem;
} 

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-size: large;
    font-weight: bold;
    font-family: var(--ff-secondary);
    justify-items: space-around;
    text-decoration: none;
    padding: 2rem;
    color: var(--clr-primary-4);
}

nav a:hover {
    color: var(--clr-primary-3);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.search {
    color: var(--clr-primary-4);
    background-color: var(--clr-primary-2);
    border-radius: var(--border-radius);
}

.search form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    transition-duration: 0.4s;
}

button:hover {
    color: var(--clr-primary-3);
}

::placeholder { 
    color: var(--clr-primary-4);
}

.search_input {
    height:3rem;
    width:8rem;
    border: none;
    outline: none;
    background-color: rgba(114, 132, 156, 0);
    text-align: center;
    align-items: center;
    color: var(--clr-primary-4);
    border-radius: var(--border-radius);
}
.search_input:hover {
    color: var(--clr-primary-3);
}

.search_input_p {
    border: none;
    color: var(--clr-primary-4);
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.search_input_button {
    height:3rem;
    border: none;
    background-color: rgba(114, 132, 156, 0);
    color: var(--clr-primary-4);
    padding:0rem 1rem 0rem 0rem;
    align-items: center;
    justify-items:center;
}

@media (max-width: 768px) {
    .section-navigation {
        display: flex;
        flex-direction: column;
        margin:var(--margine);
    }

    .section-navigation nav {
        margin:var(--margine);
    }

    .section-navigation_logo {
        margin: var(--margine);
    }
}

/*
=============== 
Main-section
===============
*/

.main-section {
    display: grid;
    grid-auto-flow: column;
}


.main-section_left {
    margin: var(--margine);    
    padding: var(--padding);
}

.main-section_left h1{
    font-size:50px;
    padding: 1rem 0;
}

.main-section_left p{
    width: 50%;
    margin-bottom:2rem;
    
}

.main-section_left span{
    color:rgb(202, 148, 86);
}

.main-section_left_buttons button {
    background-color: var( --clr-background);
    height:3rem;
    width:10rem;
    border-radius: var(--border-radius);
    border: none;
    transition-duration: 0.8s;
}

.main-section_left_buttons img {
    height:3rem;
    background-color: none;
    margin: 0 1rem;
}

.main-section_left_buttons {
    display: flex;
    align-items: center;
    justify-items: center;
    margin:  1rem 0;
}

.main-section_left_buttons p {
    display: flex;
    align-items: center;
    justify-items: center;
    margin:  1rem 0;

}

.main-section_left_buttons .button{
    text-decoration: none;
    color: black;
    transition-duration: 0.8s;
}

.main-section_left_buttons button:hover {
    background-color:rgb(0, 0, 0);
    color: var(--clr-primary-4);
    border-radius: var(--border-radius);
    border: none;
    transition-duration: 0.8s;
    transform: scale(1.2);
}


.main-section_left_buttons .button:hover {
    background-color:rgb(0, 0, 0);
    color: var(--clr-primary-4);
    border-radius: var(--border-radius);
    border: none;
    transition-duration: 0.8s;
    transform: scale(1.2);
}

.main-section_left_rating {
    display: flex;
    align-items: center;
    margin:  var(--margine);
}

.main-section_left_raiting_text p {
    margin-bottom: 0.5rem;
}

.main-section_left_rating {
    display: flex;
    margin:3rem 0;
    border-radius: var(--border-radius);
    align-items: center;
}

.main-section_left_raiting img {
    height:3rem;
}

.main-section_left_raiting_text {
    display: flex;
    flex-wrap:wrap;
}

.pizza {
    position: relative;
    padding: 5rem;

}

.pizza img{
    width:35rem;
    border-radius: var(--border-radius);
}

.main-section_right_cola {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--clr-primary-2);
    border-radius: var(--border-radius);
    position: absolute;
    top: 20%;
    left: 0%;
}

.main-section_right_cola img {
    width:10rem;
}

.main-section_right_cola button img {
    width:3rem;
    margin:var(--margine);
    padding: 0.2rem;
}

.main-section_right_cola button {
    background-color:var(--clr-primary-4);
    border-radius: var(--border-radius);
    border: none;
    transition-duration: 0.8s;
}

.main-section_right_cola button:hover {
    background-color:var(--clr-primary-3);
    border-radius: var(--border-radius);
    border: none;
    transition-duration: 0.8s;
    transform: scale(1.1);
}

.main-section_right_delivery {
    display: flex;
    align-items: center;
    background-color:var(--clr-primary-2);
    border-radius: var(--border-radius);
    position: absolute;
    top: 20%;
    left: 70%;
}

.main-section_right_delivery img {
    width:3rem;
    margin:var(--margine);
    padding: 0.2rem;
}
.main-section_right_delivery p {
    width:auto;
    margin:5px;
}

.main-section_right_delivery button {
    margin:5px;
    border: none;
}

.main-section_right_delivery button {
    background-color:var(--clr-primary-4);
    border-radius: var(--border-radius);
    margin:10px;
    transition-duration: 0.8s;
}

.main-section_right_delivery button:hover {
    background-color:var(--clr-primary-3);
    border-radius: var(--border-radius);
    margin:10px;
    transition-duration: 0.8s;
    transform: scale(1.1);
}

.main-section_right_rating {
    display: flex;
    background-color:var(--clr-primary-2);
    width:18rem;
    height: 7rem;
    border-radius: var(--border-radius);
    position: absolute;
    top: 80%;
    left: 30%;
    padding: 0.2rem;
}

.main-section_right_rating img {
    background-color:var(--clr-primary-4);
    width:5rem;
    margin:var(--margine);
    padding: 0.2rem;
}

.main-section_right_rating h3, p {
    margin:5px;
}

@media (max-width: 920px) {
    .main-section {
        display: flex;
        flex-direction: column;
        margin:20px;
    }
}

@media (max-width: 768px) {
    .main-section {
        display: flex;
        flex-direction: column;
        margin:20px;
    }

}

/*
=============== 
Footer section
===============
*/

footer {
    display:grid;
    grid-auto-flow: column;
    color: var(--clr-primary-4);
    margin:0 0 10rem 0;
    justify-content:space-around;
    align-items: center;
    font-size:25px;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-wrap: wrap;
    }
}

footer P {
    color:rgb(202, 148, 86);
}

span {
    color:black;
    width:200px;
}

.container_one {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    /* padding: 3rem; */
}

.container_two {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    /* padding: 3rem; */
}



.container_two div input, select{
    width: 100px;
    height: 30px;
    margin: 5px;
    color: var(--clr-primary-4);
    background-color: rgba(160, 159, 159, 0.109);
    border-radius: var(--border-radius);
    border: none;
}

.container_two form div{
    border: none;
}

.container_two h2:hover {
    transition-duration: 0.8s;
    transform: scale(1.2);
}

.container_two div button{
    width: 200px;
    height:40px;
    border-radius: var(--border-radius);
    border: none;
}

hr{
    width:80%;
    margin: 0 auto;
}
